/* item/index */
.search form{
    display: flex;
    padding: 10px 0 20px 0;
}
.search input{
    width: 70%;
    margin-right: 10px;
}
.items {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.item {
    width: 180px;
    padding-bottom: 30px;
    margin-right: 10px;
}
.item img{
    width: 100%;
    height: 230px;
    object-fit: contain;
}
.no-img{
    width: 100%;
    height: 230px;
    border: 1px solid rgb(191, 191, 191);
}
.no-img p{
    line-height: 230px;
    color: gray;
}
.title{
    font-weight: bold;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item p{
    margin: 3px;
}
.item form{
    display: inline-block;
}
.paginate{
    display: inline-block;
}
.paginate p{
    display: none;
}

/* imte/list */

/* テーブルの各td内のテキストを垂直方向に中央寄せ */
.table td {
    vertical-align: middle;
    table-layout: fixed;
    height: 100px; /* 適切な高さに調整 */
    overflow: hidden; /* 必要に応じて溢れた内容を隠す */
    max-width: 200px; /* 表示する最大幅を設定 */
    text-overflow: ellipsis; /* テキストが省略される際に「...」を表示 */
    white-space: nowrap; /* テキストが折り返されないように設定 */
}

.img_name img {
    height: 100%;
    width: auto; /* 幅を自動調整 */
    max-width: 100%; /* 最大幅を親要素に合わせる */
}

/* itemsinfo */
.itemsinfo-main{
    display: flex;
    height: 500px;
}
.product-img .img-large {
    width: 300px; /* 画像の幅を300pxに設定 */
    height: auto; /* 高さは自動調整 */
}

.product-details{
    width: 500px;
}
.product-details li{
    list-style: none;
    padding: 5px 0;
}
.link{
    display: flex;
}
.next-page{
    padding-right: 20px;
}
.like-btn{
    margin: 20px 0;
    padding: 10px;
}

