/* index */

/* テーブルの各td内のテキストを垂直方向に中央寄せ */
.table td {
    vertical-align: middle;
    table-layout: fixed;
    height: 100px; /* 適切な高さに調整 */
    overflow: hidden; /* 必要に応じて溢れた内容を隠す */
}
.img_name img {
    height: 100%;
    width: auto; /* 幅を自動調整 */
    max-width: 100%; /* 最大幅を親要素に合わせる */
}

/* itemsinfo */
.itemsinfo-main{
    display: flex;
    height: 500px;
}
.product-img .img-large {
    width: 300px; /* 画像の幅を300pxに設定 */
    height: auto; /* 高さは自動調整 */
}

.product-details{
    width: 500px;
}
.product-details li{
    list-style: none;
    padding: 5px 0;
}
.edit-delete-btn{
    display: flex;
    padding-left: 40px;
}
.edit-btn{
    padding-right: 10px;
}
.link{
    display: flex;
    padding: 20px 0 0 40px;
}
.next-page{
    padding-left: 10px;
}
.back-link{
    padding: 10px 0 0 40px;
}
